header > h1 {
    font-weight: lighter;
    margin: 0;
}

header {
    height: 9vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #121212;
}
